<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="base.css">   
    <title>View a Journal Entry</title>
  </head>
  <body>
    <header>
        <h1>Learning Journal<h1>
        <h3>Code 401 - Advanced Software Development in Python</h3>
        <h3>by Jeffery Ray Russell</h3>
    </header>
    <main>
      <h1>Learning Journal Entry</h1>
      <h3>August 23, 2016</h3>
      <p>Today I learned about Graph Data Structures and PostgreSQL and environment variables in Python. Zach and I got a good start on the Priority Queue assignment and Jeff and I worked on Step1 of the Learning Journal assignment. It was a good day; two steps forward and only two and a half steps back.</p>
      <a href="/">Return to Home Page</a>
      <a href="/create">Return to New Entry Page</a>
    </main>
    <footer>      
    </footer>
  </body>
</html>

