<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="base.css"/>   
    <title>Edit an Existing Journal Entry</title>
  </head>
  <body>
    <header>
      <h1>Learning Journal<h1>
      <h3>Code 401 - Advanced Software Development in Python</h3>
      <h3>by Jeffery Ray Russell</h3>
    </header>
    <main>
      <h1>Edit and Existing Entry</h1>
        <form>
          Title:<br>
          <input type="text" name="title" value="Title Here"><br>
          <textarea rows="25" cols="50">
            Edit Entry Here.
          </textarea>
          <input type="submit" value="Submit">
        </form>
        <a href="home_page.html">Return to Home Page</a>
    </main>
    <footer>      
    </footer>
  </body>
</html>