{% extends 'index.jinja2' %}
{% block body %}
  <form>
    <input type="text" name="title" value="{{title}}"></br>
    <textarea rows="10" cols="100">{{body}}
    </textarea></br>
    <input type="submit" value="Submit" disabled>
  </form> 
{% endblock %}