<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/base.css">   
    <title>Edit an Existing Journal Entry</title>
  </head>
  <body>
    <header>
        <h1>Daily Learning Journal<h1>
        <h2>Jeffery Ray Russell</h2>
        <br>
        <h3>Code 401 Advanced Software Development in Python</h3>  
        <h3>Code Fellows Seattle</h3>  
    </header>
    <main>
      <h1>Edit an Existing Entry</h1>
        <form>
          Title:<br>
          <input type="text" name="title" value="Title Here"><br>
          <textarea rows="25" cols="50">
            Edit Entry Here.
          </textarea>
          <input type="submit" value="Submit">
        </form>   
    </main>
    <footer>
      <h3><a href="/">Home</a></h3>
      <h3><a href="/journal/new_entry">New Journal Entry</a></h3>
      <h3><a href="/journal/edit_view/1">Edit Journal Entry</a></h3>
      <h3><a href="/journal/1">View Journal Entry</a></h3>
    </footer>
  </body>
</html>