{% extends 'index.jinja2' %}
{% block body %}
  <form>
      <input type="text" name="Title" placeholder="Journal Entry Title">
      <br>
      <textarea rows="10" cols="100" name = "journal" id = "journal">
      </textarea><br>
      <input type="submit" value="Submit">
  </form>
{% endblock %}