{% extends 'index.jinja2' %}
{% block body %}
  <form>
      <input type="text" name="Title" placeholder="Create Title">
      <textarea rows="25" cols="50" placeholder="Create Entry">
      </textarea>
      <input type="submit" value="Submit">
  </form>
{% endblock %}