{% extends 'index.jinja2' %}
{% block body %}

  <form action="{{  request.route_url('entry_view') }}" method="POST">

    New Title:
    <br>
    <input type="text" size="50" name="title"/><br>
    <br>

    New Entry:
    <br>
    <textarea rows="15" cols="100" name = "body">
    </textarea>
    <br>

    <input type="submit" value="Submit">
  
  </form>
{% endblock %}