<!DOCTYPE html>
<html>
  <head>

      <link type="text/css" rel="stylesheet" href="base.css">
      <title>Learning Journal by Jeffery Russell</title>   
  </head>
  <body>

    <header>
        <h1>Learning Journal<h1>
        <h3>Code 401 - Advanced Software Development in Python</h3>
        <h3>by Jeffery Ray Russell</h3>
    </header>

    <main>
        <h3>Journal Entries</h3>
        <a href="/create">Create New Journal Entry</a>
        <table id="new_entries_table">
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Edit</th>
            </tr>
            <tr>
                <td>8/08/2016</td>
                <td><a href="/1">Go to Today's Entry Page</a></td>
                <td><a href="/create">Go to New Entry Page</a></td>
            </tr>
        </table>

    </main>

    <footer>
    </footer>

  </body>

</html>