<!DOCTYPE html>
<html>
  <head>

      <link type="text/css" rel="stylesheet" href="../static/base.css">
      <title>Learning Journal by Jeffery Russell</title>   
  </head>
  <body>

    <header>
        <h1>Daily Learning Journal<h1>
        <h2>Jeffery Ray Russell</h2>
        <br>
        <h3>Code 401 Advanced Software Development in Python</h3>  
        <h3>Code Fellows Seattle</h3>  
    </header>

    <main>
        <h3>Journal Entries</h3>
        <table id="new_entries_table">
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Edit</th>
            </tr>
            <tr>
                <td>8/08/2016</td>
            </tr>
        </table>

    </main>

    <footer>
      <h3><a href="/">Home</a></h3>
      <h3><a href="/journal/new_entry">New Journal Entry</a></h3>
      <h3><a href="/journal/edit_view/1">Edit Journal Entry</a></h3>
    </footer>

  </body>

</html>