<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ request.static_path('learning_journal_basic1:static/base.css') }}">
    <title>Learning Journal by Jeffery Russell</title>   
  </head>
  <body>
    <header>
      <h1>Daily Learning Journal<h1>
      <h2>Jeffery Ray Russell</h2>
      <br>
      <navbar>
        <h3><a href="{{ request.route_url('home') }}">Home:  List Entries Page</a></h3>
        <h3><a href="{{ request.route_url('entry_view') }}">Create:  New Entry Page</a></h3>
      </navbar>
    </header>
    <main>
      {% block body %}
      {% endblock %}
    </main>
    <footer>
      <h3>Code 401: Advanced Software Development in Python</h3>  
      <h3>Code Fellows - Seattle</h3>
    </footer>
  </body>
</html>