{% extends "index.jinja2" %}
{% block body %}
  {% if entries %}
    {% for entry in entries %}

      <article>
        <h5>{{ entry.date.strftime('%b %d, %Y %H:%M') }}</h5>
        <h5><a href="{{ request.route_url('detail_view', id=entry.id) }}">{{ entry.title }}</a></h5>
      </article>

    {% endfor %}
  {% else %}
    <p>This journal entry is empty.</p>
  {% endif %}
{% endblock %}