<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="../static/base.css">   
    <title>Create a New Journal Entry</title>
  </head>
  <body>
    <header>
        <h1>Daily Learning Journal<h1>
        <h2>Jeffery Ray Russell</h2>
        <br>
        <h3>Code 401 Advanced Software Development in Python</h3>  
        <h4>Code Fellows Seattle</h4>
    </header>
    <main>
      <h1>Create a New Journal Entry</h1>
        <form>
            Date:
            <br>
            <input type="text" name="Date" value="Date Here"><br>
            <textarea rows="25" cols="50">
            Create New Entry Here.
            </textarea>
            <input type="submit" value="Submit">
            <br>
        </form>
    </main>
    <footer>
      <h3><a href="/">Home Page for List of Journal Entries</a></h3>
      <h3><a href="/create">New Journal Entry Page</a></h3>
    </footer>
  </body>
</html>